
body {
    text-align: center;
}

.login, .logout {
    background: #524fff;
    padding: 8px 22px!important;
    border-radius: 2px;
}

/********************** HOMEPAGE ************************/
.img-sec {
    width: 600px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/********************** LOGIN ************************/

form {
    display: inline-block;
    margin: 3em 0;
}

.form-title {
    margin-bottom: 1em;
}

.form-group {
    text-align: left;
    margin-bottom: 1.2em;
}

/********************** SIGNUP ************************/

.b-firstname, .b-lastname, .b-username, .b-password, .b-password1, .b-password2, .b-email {
    margin-bottom: 1.2em;
    font-size: 1.2em;
}

button {
    height: 40px;
    /* width: 120px; */
    padding: 0 2em!important;
    margin-top: 0.8em;
}

/********************** AFTER LOGIN ************************/

.bt-smile-img {
    height: 400px!important;
    width: 400px!important;
}

/********************** HIDDEN BUTTON ************************/
#nxtBtn {
    /* display: none; */
    visibility: hidden;
}

#result {
    background: yellow;
}

/**************************************************************/
.bt-info {
    display: inline-block;
    font-size: 0.9em;
    color: #ffffff;
    padding: .6em;
    border-radius: 6px;
    background: red;
    position: absolute;
    top: 90px;
    right: 0;
}

.bt-success {
    display: inline-block;
    font-size: 0.9em;
    color: #ffffff;
    padding: .6em;
    border-radius: 6px;
    background: rgb(48, 156, 48);
    position: absolute;
    top: 90px;
    right: 0;
}


/*******************************************************************/
.navbar-light .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, .5);
}

.navbar-light .navbar-toggler-icon {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E)
}