<style>
    body {
        text-align: center;
    }
    form {
        display: inline-block;
    }
    .b-username, .b-password {
        margin-bottom: 2em;
        font-size: 1.2em;
    }
    input {
        height: 30px;
    }
    button {
        height: 40px;
        width: 120px;
    }
</style>

{% if user.is_authenticated %}

<h1>Hello{{user.first_name}}</h1>
<a href="{% url 'login:logout' %}">Logout</a>
{% else %}
<a href="">Login</a>
{% endif %}


<h1 class="title"> This is Login Template Index</h1>

<form action="" method="post">
    {% csrf_token %}
    <!-- <div class="b-username">
        <label for="">Email</label>
        <input type="email" name="email" id="">
    </div> -->
    <div class="b-username">
        <label for="">Username</label>
        <input type="text" name="username" id="">
    </div>
    <div class="b-password">
        <label for="">Password</label>
        <input type="password" name="password" id="">
    </div>
    <button>Login</button>
</form>

<p>or</p>
<a href="{% url 'signup:index' %}">Signup</a>

{% for smileData in smile %}
<p>{{ smileData.name }}</p>
{% endfor %}


{% for message in messages%}
<h5>{{message}}</h5>
{% endfor %}