{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form action="login" method="post">
                    {% csrf_token %}

                    <h3 class="form-title">Login</h3>

                    <div class="b-username">
                        <!-- <label for="" class="form-label">Username</label> -->
                        <input class="form-control" type="text" name="username" id="" placeholder="username">
                    </div>
                    <div class="b-password">
                        <!-- <label for="" class="form-label">Password</label> -->
                        <input class="form-control" type="password" name="password" id="" placeholder="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            
                <hr>
                
                <p>Don't have an account? <a href="signup">Register</a></p>
            
                <!-- {% for smileData in smile %}
                <p>{{ smileData.name }}</p>
                {% endfor %} -->
            
            
                {% for message in messages%}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>
        </div>
    </div>

    
{% endblock %}