{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="password_reset_request" method="post">
                    {% csrf_token %}
                    <h5 class="form-title">Reset Password</h5>
                    <div class="row">
                        <div class="form-group col">
                            <label for="" class="form-label">Enter your user account's verified email address and we will send you a password reset link.</label>
                            <br>
                            <input class="form-control" type="email" name="email" placeholder="Enter your email address">
                        </div>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Send password reset email</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}