{% extends 'base.html' %}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="img-sec">
                    <img class="" src="https://images.unsplash.com/photo-1553481187-be93c21490a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="SMILE IMG">
                </div>

                {% if user.is_anonymous %}
                <div class="text-center mt-4">
                    <a class="" href="login">Login to Play</button>
                </div>
                {% elif user.is_authenticated %}
                <div class="text-center mt-4">
                    <h5>Welcome {{user.first_name}}</h5>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}