{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% if user.is_anonymous %}
                <div class="img-sec">
                    <img class="" src="{% static 'images/photo-1553481187-be93c21490a9.jpg' %}" alt="SMILE IMG">
                </div>
                <div class="text-center mt-4">
                    <a class="" href="{% url 'login:login' %}">Login to Play</button>
                </div>
                {% elif user.is_authenticated %}
                <div class="text-center mt-4">
                    <h5>Welcome {{user.first_name}}</h5>
                    <!-- 
                        <img id="api-img" class="bt-smile-img" src="{{smileJson.question}}" alt="SMILEIMG">
                        <h5>{{smileJson.solution}}</h5>
                        <p>{{smileJson}}</p>
                        <input id="" type="number" name="checkValue" class="form-class" value="{{smileJson.solution}}" min="0" max="9" autofocus>
                        <button class="btn btn-primary" onclick="test();" id="submit">Check</button>
                        <button class="btn btn-secondary" id="nxtBtn" onclick="nextButton();">NextButton</button>
                        <button id="next-btn" class="btn btn-primary" type="button" onclick="reload()">Next</button>
                    -->
                    <img src="" class="bt-smile-img" id="imgID" alt="IMAGE">
                    <hr>
                    <h5 class="mb-4">Guess the answer from 0 to 9 - <span id="result"></span></h5>
                    <div>
                        <input id="userValue" type="number" name="checkValue" class="form-class" min="0" max="9" value="0" autofocus>                    
                        <button class="btn btn-primary m-0" id="submit">Check</button>
                    </div>
                    <div id="success">
                        <button class="btn btn-secondary" id="nxtBtn" onclick="nextButton();">NextButton</button>
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>

{% if user.is_authenticated %}
<!-- JS SCRIPT -->
<!-- ******************************************************************************* -->
<script src="{% static 'js/api.js' %}"></script>
<!-- ******************************************************************************* -->
{% endif %}

{% endblock %}
