body {
    text-align: center;
}
form {
    display: inline-block;
}
.b-firstname, .b-lastname, .b-username, .b-password1, .b-password2, .b-email {
    margin-bottom: 2em;
    font-size: 1.2em;
}
input {
    height: 30px;
}
button {
    height: 40px;
    width: 120px;
}