{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="signup" method="POST">
                {% csrf_token %}

                <h3 class="form-title">Create an Account</h3>

                <div class="b-firstname">
                    <!-- <label for="" class="form-label">First Name</label> -->
                    <input type="text" name="first_name" id="" class="form-control" placeholder="first name" required>
                </div>
                <div class="b-lastname">
                    <!-- <label for="" class="form-label">Last Name</label> -->
                    <input type="text" name="last_name" id="" class="form-control" placeholder="last name" required>
                </div>
                <div class="b-username">
                    <!-- <label for="" class="form-label">Username</label> -->
                    <input type="text" name="username" id="" class="form-control" placeholder="username" required>
                </div>
                <div class="b-email">
                    <!-- <label for="" class="form-label">Email</label> -->
                    <input type="text" name="email" id="" class="form-control" placeholder="email" required>
                </div>
                <div class="b-password1">
                    <!-- <label for="" class="form-label">Password</label> -->
                    <input type="password" name="password1" id="" class="form-control" placeholder="password" required>
                </div>
                <div class="b-password2">
                    <!-- <label for="" class="form-label">Confirm Password</label> -->
                    <input type="password" name="password2" id="" class="form-control" placeholder="confirm password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign UP</button>
            </form>
        
            <hr>

            <p>Have already an account? <a href="login">Login here</a></p>
            
        
            {% for message in messages %}
                <h1>{{message}}</h1>
            {% endfor %}
        </div>
    </div>
</div>
    

{% endblock %}