{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'signup/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand text-light" href="/">Smile Game</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link  text-light active" aria-current="page" href="signup">Register Here</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <!-- <a class="nav-link text-light" href="login">Login</a> -->
                <a class="nav-link text-light" href="logout">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    
    <h1 class="title">Welcome to Smile Sign UP Page</h1>

    <form action="signup" method="POST">
        {% csrf_token %}
        
        <div class="b-firstname">
            <label for="">First Name</label>
            <input type="text" name="first_name" id="">
        </div>
        <div class="b-lastname">
            <label for="">Last Name</label>
            <input type="text" name="last_name" id="">
        </div>
        <div class="b-username">
            <label for="">Username</label>
            <input type="text" name="username" id="">
        </div>
        <div class="b-email">
            <label for="">Email</label>
            <input type="text" name="email" id="">
        </div>
        <div class="b-password1">
            <label for="">Password</label>
            <input type="password" name="password1" id="">
        </div>
        <div class="b-password2">
            <label for="">Confirm Password</label>
            <input type="password" name="password2" id="">
        </div>
        <button>Sign UP</button>
    </form>

    <p>or</p>
    <a href="login">Login</a>

    {% for message in messages %}
        <h1>{{message}}</h1>
    {% endfor %}

</body>
</html>